/**
*  接待中心
*/
/*@black-dark: #465468; //暗黑色*/
/*
    黑色
    默认字色
*/
/*
  亮黑色
  二级字色
*/
/*
  最暗的灰色
  图标颜色
*/
/*
暗灰色 滚动条颜色
一级分割线
*/
/*
灰色 淡图标颜色
二级分割线
*/
/*
亮灰色
网站背景色
*/
/*
最亮的灰色
背景色
*/
.msgset-page h2 {
  font-size: 24px;
}
.msgset-page h3 {
  margin-left: 25px;
  margin-top: 25px;
  line-height: 45px;
}
.msgset-page .set-list {
  padding-left: 70px;
}
.msgset-page .set-list li {
  margin-bottom: 20px;
}
.msgset-page .set-list .title {
  line-height: 48px;
}
.msgset-page .set-list .txt-title {
  margin-left: 30px;
}
.msgset-page .set-list .txt {
  margin-left: 30px;
  margin-top: 16px;
  padding: 18px;
  border: 1px solid #c4cad3;
}
.msgset-page .msgset-content {
  position: absolute;
  top: 60px;
  left: 30px;
  bottom: 180px;
  right: 30px;
}
.msgset-page .save-box {
  position: absolute;
  width: 100%;
  bottom: 90px;
}
