/**
*  接待中心
*/
/*@black-dark: #465468; //暗黑色*/
/*
    黑色
    默认字色
*/
/*
  亮黑色
  二级字色
*/
/*
  最暗的灰色
  图标颜色
*/
/*
暗灰色 滚动条颜色
一级分割线
*/
/*
灰色 淡图标颜色
二级分割线
*/
/*
亮灰色
网站背景色
*/
/*
最亮的灰色
背景色
*/
.userlist-page {
  height: 100%;
}
.userlist-page .userlist-content {
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: #c4cad3 0 0 7px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 40px;
}
.userlist-page .inspect-list {
  margin-top: 20px;
}
.userlist-page .inspect-list li {
  text-align: center;
  width: 33.33%;
  float: left;
  line-height: 70px;
  font-size: 36px;
  margin-bottom: 30px;
}
.userlist-page .inspect-list img {
  width: 445px;
  height: 265px;
}
.userlist-page .return-box {
  line-height: 50px;
  font-size: 36px;
}
