@import "qikexiu/index";
@import "_sidebar";
@import "_layer";


body {
    min-width: 1880px;
}

#app {
    height: 100%;
}

main {
    .pr-position-relative;
    .h-height;
    overflow: auto;
    padding: 40px;
    margin-left: 300px;


    .main-content {
        .pr-position-relative;
        .wh-width-height;
    }

    &.main-big {
        margin-left: 140px;
    }
}


.module {
    background-color: @white;
    box-shadow: @gray-dark-m 0px 0px 10px;
    border-radius: 5px;
}



/*搜索box*/
.seach-box {
    .pr-position-relative;
    .hl-heigth-line-h(48);
    .pr-padding-right(70);
    .pl-padding-left(24);
    .bo-border;
    border-radius: 24px;
    .oh-overflow-hidden;
    background-color: white;

    input {
        .w-width;
        .hl-heigth-line-h(48);
        border: none;
        font-size: 24px;
    }

    .seach-btn {
        .pa-position-absolute;
        right: 0px;
        top: 0px;
        .w-width(70);
        .tc-text-align-center;
        font-size: 40px;
        .cp-cursor-pointer;
    }

    .number {
        color: @black-light;
    }
}


.main-content {
    .pr-position-relative;
    .wh-width-height;
}

.main-content-bg {
    .pr-position-relative;
    .wh-width-height;
    padding: 30px;
    border-radius: 5px;
    .bc-background-color;
    .bs-box-shadow;
}


/*表格*/
.table {
    .w-width;
    .l-line-height(30);

    th, td {
        padding-left: 30px;
        vertical-align: middle;
    }

    th {
        height: 46px;
        .bc-background-color(@gray-light);
    }

    td {
        padding: 20px;
        padding-left: 30px;
    }
}


.table-vertical {
    .w-width;
    .l-line-height(60);

    th, td {
        padding-left: 60px;
        vertical-align: middle;
    }

    th {
        width: 210px;
        color: @black-light;
    }
}


.radio {
    .pr-position-relative;
    .di-inline-block;
    .wh-width-height(26);
    .bo-border;
    border-radius: 50%;
    .bc-background-color;

    &.selected:before {
        content: ' ';
        display: block;
        .pa-position-absolute;
        border-radius: 50%;
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        background-color: @blue;
    }
}

.checkbox {
    .pr-position-relative;
    .di-inline-block;
    .wh-width-height(26);
    .bo-border;
    .bc-background-color;
    .cp-cursor-pointer;

    &.selected:before {
        content: ' ';
        display: block;
        .pa-position-absolute;
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        background-color: @blue;
    }
}

.switchbox {
    .pr-position-relative;
    .di-inline-block;
    .bo-border;
    .bc-background-color;
    border-radius: 16px;
    .hl-heigth-line-h(32);
    width: 170px;
    .cp-cursor-pointer;

    .span {
        width: 50%;
        position: relative;
        float: left;
        display: block;
        .tc-text-align-center;
    }


    & .span:nth-of-type(1) {
        color: @white;
    }

    & .span:nth-of-type(2) {
        color: @black;
    }


    &:before {
        content: ' ';
        display: block;
        .pa-position-absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        width: 50%;
        background-color: @blue;
        border-radius: 16px;
    }


    &.selected:before {
        left: 50%;

        & .span:nth-of-type(1) {
            color: @black;
        }

        & .span:nth-of-type(2) {
            color: @white;
        }
    }
}



/**分页*/
.paging {
    .tc-text-align-center;

    & > span {
        display: inline-block;
        .vm-vertical-align-middle;
        margin-left: 2px;
        margin-right: 2px;
    }

    .text {
        width: 50px;
        .tc-text-align-center;
        padding: 0;
    }
}
