/**
*  接待中心
*/
/*@black-dark: #465468; //暗黑色*/
/*
    黑色
    默认字色
*/
/*
  亮黑色
  二级字色
*/
/*
  最暗的灰色
  图标颜色
*/
/*
暗灰色 滚动条颜色
一级分割线
*/
/*
灰色 淡图标颜色
二级分割线
*/
/*
亮灰色
网站背景色
*/
/*
最亮的灰色
背景色
*/
.paymenset-page {
  position: relative;
  height: 100%;
}
.paymenset-page .paymenset-list li {
  width: 285px;
  height: 185px;
  background-color: white;
  box-shadow: #c4cad3 0 0 7px;
  border-radius: 3px;
  float: left;
  margin-right: 60px;
  margin-bottom: 60px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
}
.paymenset-page .paymenset-list img {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}
.paymenset-page .paymenset-list .add-box {
  font-size: 16px;
}
.paymenset-page .paymenset-list .add-box .iconfont {
  display: block;
  font-size: 42px;
  margin-top: 54px;
  margin-bottom: 5px;
}
.paymenset-page h2 {
  font-size: 24px;
  line-height: 90px;
}
.paymenset-page .paymenset-table {
  width: 100%;
}
.paymenset-page .paymenset-table td,
.paymenset-page .paymenset-table th {
  padding: 20px 0;
}
.paymenset-page .paymenset-table th {
  width: 120px;
  vertical-align: top;
}
.paymenset-page .paymenset-table .upload-btn {
  display: block;
  width: 120px;
  height: 120px;
  padding: 1px;
  border: 1px solid #c4cad3;
}
.paymenset-page .paymenset-table .upload-btn img {
  width: 100%;
  height: 100%;
}
.paymenset-page .paymenset-table .upload-into {
  line-height: 40px;
  width: 120px;
}
.paymenset-page .paymenset-table .textarea {
  width: 100%;
  height: 220px;
}
