/**
*  接待中心
*/
/*@black-dark: #465468; //暗黑色*/
/*
    黑色
    默认字色
*/
/*
  亮黑色
  二级字色
*/
/*
  最暗的灰色
  图标颜色
*/
/*
暗灰色 滚动条颜色
一级分割线
*/
/*
灰色 淡图标颜色
二级分割线
*/
/*
亮灰色
网站背景色
*/
/*
最亮的灰色
背景色
*/
.message-page .message-content {
  position: absolute;
  left: 0px;
  top: 135px;
  bottom: 100px;
  width: 100%;
}
.message-page .process-box {
  margin: 0px 0 35px 0;
}
.message-page .process-box:before,
.message-page .process-box:after {
  content: " ";
  display: table;
}
.message-page .process-box:after {
  clear: both;
}
.message-page .process-box .li {
  position: relative;
  width: 33.3333%;
  float: left;
  text-align: center;
  font-size: 18px;
}
.message-page .process-box .li:first-of-type .line-left {
  display: none;
}
.message-page .process-box .li:last-of-type .line-right {
  display: none;
}
.message-page .process-box .li.prev {
  color: #4a90e2;
}
.message-page .process-box .li.prev .number span {
  background-color: #4a90e2;
  color: #ffffff;
}
.message-page .process-box .li.prev .line-right,
.message-page .process-box .li.prev .line-left {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #4a90e2;
}
.message-page .process-box .li.selected {
  color: #4a90e2;
}
.message-page .process-box .li.selected .number span {
  background-color: #4a90e2;
  color: #ffffff;
}
.message-page .process-box .li.selected .line-left {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #4a90e2;
}
.message-page .process-box .number {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 5px;
  background-color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  box-shadow: #c4cad3 0px 0px 10px;
}
.message-page .process-box .number span {
  width: 100%;
  height: 100%;
  line-height: 50px;
  display: block;
  background-color: #eff1f3;
  border-radius: 50%;
}
.message-page .process-box .line-left,
.message-page .process-box .line-right {
  position: absolute;
  height: 10px;
  background-color: white;
  top: 30px;
  box-shadow: #c4cad3 0px 0px 10px;
}
.message-page .process-box .line-left {
  left: 0px;
  right: 50%;
}
.message-page .process-box .line-right {
  left: 50%;
  right: 0px;
}
.message-page .message-box-left {
  width: 435px;
  float: left;
}
.message-page .message-box-right {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  margin-left: 500px;
}
.message-page .seach-box {
  position: relative;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-right: 70px;
  padding-left: 24px;
  border: 1px solid #c4cad3;
  border-radius: 24px;
  overflow: hidden;
  background-color: white;
}
.message-page .seach-box input {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border: none;
  font-size: 24px;
}
.message-page .seach-box .seach-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 70px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}
.message-page .seach-box .number {
  color: #8a95a5;
}
.message-page .group-box .group-list {
  margin-top: 50px;
}
.message-page .group-box dt {
  font-size: 24px;
}
.message-page .group-box dd {
  float: left;
  width: 205px;
  height: 55px;
  line-height: 55px;
  padding: 0 20px;
  margin-right: 25px;
  margin-top: 25px;
  background-color: #ffffff;
}
.message-page .group-box dd:nth-of-type(2n) {
  margin-right: 0px;
}
.message-page .group-box dd .radio {
  float: left;
  vertical-align: middle;
}
.message-page .group-box dd span {
  float: left;
  width: 95px;
  margin-left: 15px;
  height: 100%;
  overflow: hidden;
}
.message-page .user-list dl {
  padding-left: 60px;
  padding-right: 60px;
  line-height: 50px;
  font-size: 24px;
}
.message-page .user-list .number {
  color: #8a95a5;
}
.message-page .user-list li {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  margin: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.message-page .user-list li .arrow {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 35px solid #4a90e2;
  border-left: 35px solid transparent;
}
.message-page .user-list li img {
  width: 100%;
  height: 100%;
}
.message-page .user-list li .iconfont {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 14px;
}
.message-page .send-box {
  line-height: 100px;
  font-size: 24px;
}
.message-page .send-box .return-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 46px;
  vertical-align: middle;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #4a90e2;
}
.message-page .send-box .return-btn span {
  color: #4a90e2;
}
.message-page .send-success-box {
  width: 520px;
  height: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -260px;
  margin-top: -170px;
  text-align: center;
}
.message-page .send-success-box .content {
  height: 270px;
  line-height: 270px;
  font-size: 24px;
  background-color: #ffffff;
  box-shadow: #c4cad3 0 0 7px;
}
.message-page .send-success-box .txt {
  line-height: 50px;
}
.message-page .message-content-box {
  position: absolute;
  left: 0px;
  top: 135px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  box-shadow: #c4cad3 0 0 7px;
  border-radius: 5px;
  padding: 10px 25px 0 25px;
}
.message-page .message-content-box .message-content-title {
  height: 91px;
  line-height: 91px;
  border-bottom: 1px solid #c4cad3;
}
.message-page .message-content-box .message-content-title .seach-box {
  margin-top: 20px;
  float: right;
  width: 350px;
}
.message-page .message-content-box .filter-list {
  float: left;
  height: 100%;
}
.message-page .message-content-box .filter-list li {
  float: left;
}
.message-page .message-content-box .filter-list li .btn {
  margin-top: 20px;
  margin-left: 20px;
}
.message-page .message-content-box .content {
  height: 545px;
}
.message-page .message-material-list {
  position: relative;
}
.message-page .message-material-list dd {
  border-bottom: 1px dashed #c4cad3;
  padding: 20px 130px 20px 18px;
  line-height: 30px;
  border-radius: 5px;
}
.message-page .message-material-list dd .title {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.message-page .message-material-list dd .title .radio {
  margin-right: 15px;
  float: left;
}
.message-page .message-material-list dd .txt {
  padding-left: 41px;
}
.message-page .message-material-list dd.selected {
  padding: 18px 128px 18px 16px;
  border: 1px solid #c4cad3;
  box-shadow: #c4cad3 0 0 7px;
}
.message-page .message-material-list dt {
  padding: 20px 0;
  font-size: 24px;
  line-height: 24px;
}
.message-page .message-material-list .seach-btn {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 36px;
}
